{% extends 'base.html' %}

{% block content %}

    <div class="title-container">
        <h2 class="form-title">Signup</h2>
    </div>

    <main class="form-wrapper">
        <form class="form-container" method="POST" action="">

            {% csrf_token %}

            <div class="field-container">
                {{form.username}}
            </div>

            <div class="field-container">
                {{form.email}}
            </div>

            <div class="field-container">
                {{form.password1}}
            </div>

            <div class="field-container">
                {{form.password2}}
            </div>
            
            <div class="button-container">
                <button class="btn submit-button">Sign Up</button>
            </div>

        </form>

    </main>

    <!-- {{form.username}}
    {{form.email}}
    {{form.password1}}
    {{form.password2}} -->


{% endblock %}