<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <title>Oceans Hotel</title>
</head>
<body>
    
    <header>

        <h1>
            <a href="/">Ocean</a>
        </h1>

        <nav>
            <label class="check" for="menu">

                <input type="checkbox" id="menu">

            </label>
            <ul class="menu-items">
                {% if user.is_authenticated%}
                    <li><h3>{{request.user.first_name}}</h3></li>
                    <hr>
                {% endif %}
                
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#locations">Locations</a></li>
                <li><a href="#book">Book</a></li>
                <li><a href="#contact">Contact</a></li>
                
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">SignOut</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">LogIn</a></li>
                    <li><a href="{% url 'signup' %}">SignUp</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <main class="wrapper">

        {% block content %}
    
        {% endblock %}

    </main>

     <!-- FontAwesome Link -->
     <script src="https://kit.fontawesome.com/829d0985e1.js" crossorigin="anonymous"></script>
     <!-- Local JS Link -->
    <script src="../static/script.js"></script>
</body>
</html>