<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Oceans Hotel</title>
</head>
<body>
    
    <header>

        <h1>
            Oceans
        </h1>

        <nav>
            <label class="check" for="menu">

                <input type="checkbox" id="menu">

            </label>
            <ul class="menu-items">
                <li>Home</li>
                <li>Explore</li>
                <li>Book</li>
                <li>About</li>
            </ul>
        </nav>

    </header>

    <main class="wrapper">

        {% block content %}
    
        {% endblock %}

    </main>

     <!-- FontAwesome Link -->
     <script src="https://kit.fontawesome.com/829d0985e1.js" crossorigin="anonymous"></script>
     <!-- Local JS Link -->
    <script src="../static/script.js"></script>
</body>
</html>