{% extends 'base.html' %}

{% block content %}

    <div class="title-container">
        <h2 class="form-title">Book Rooms</h2>
    </div>


    <main class="form-wrapper booking-info-main">

        {% if avail_rooms|length %}
        <form class="booking-form" method="POST" action="{% url 'confirmbooking' %}">

            {% csrf_token %}

            <div class="field-container">
                <span>First Name: </span> <span>{{request.user.first_name}}</span>
            </div>

            <div class="field-container">
                <span>Last Name: </span> <span>{{request.user.last_name}}</span>
            </div>

            <div class="field-container">
                <span>Room Type: </span> <span>{{category}}</span>
            </div>

            <div class="field-container">
                <span>Check In:</span> <span>{{check_in|date:"d N y"}}</span>
                <p class="date-modal-trigger"><small>Change Date</small></p>
            </div>

            <div class="field-container">
                <span>Check Out:</span> <span>{{check_out|date:"d N y"}}</span>
                <p class="date-modal-trigger"><small>Change Date</small></p>
            </div>
            
            <div class="room-button-container">
                <button class="btn btn-book submit-button">Book</button>
            </div>
            
        </form>

        <div class="booking-image">
            <img src="../static/images/{{category}}.jfif" alt="" class="selected-room">
        </div>

        {% else %}
        <h1>NO ROOMS!</h1>

        {% endif %}

    </main>

    <dialog class="booking-modal">

        <form class="modal-container" method="GET" action="{% url 'book_search' %}">

            <p>Choose a date and room:</p>

            <fieldset class="dates">

                <div class="date-field-container date-picker check-in-div">
                    {{form.check_in.label}}: {{form.check_in}}
                </div>
    
                <div class="date-field-container date-picker check-out-div">
                    {{form.check_out.label}}: {{form.check_out}}
                    <p class="invalid-text">Please check the check-out date</p>
                </div>

            </fieldset>

            <!-- <div class="field-container date-picker">
                {{form.check_in.label}}: {{form.check_in}}
            </div>

            <div class="field-container date-picker">
                {{form.check_out.label}}: {{form.check_out}}
            </div> -->

            <fieldset class="room-cat">

                <label for="single" class="cat-container">
                    <input type="checkbox" class="radios" data-value="single" id="single" name="SIN">
                    <img src="../static/images/SIN.jfif" alt="single-room">
                    <p>Single Room</p>
                </label>

                <label for="double" class="cat-container">
                    <input type="checkbox" class="radios" data-value="double" id="double" name="DUO">
                    <img src="../static/images/DUO.jfif" alt="double-room">
                    <p>Double Room</p>
                </label>

                <label for="triple" class="cat-container">
                    <input type="checkbox" class="radios" data-value="triple" id="triple" name="TRI">
                    <img src="../static/images/TRI.jfif" alt="triple-room">
                    <p>Triple Room</p>
                </label>

                <label for="deluxe" class="cat-container">
                    <input type="checkbox" class="radios" data-value="deluxe" id="deluxe" name="DLX">
                    <img src="../static/images/DLX.jfif" alt="deluxe-room">
                    <p>Deluxe Room</p>
                </label>

                <label for="suite" class="cat-container">
                    <input type="checkbox" class="radios" data-value="suite" id="suite" name="SUT">
                    <img src="../static/images/SUT.jfif" alt="suite">
                    <p>Suite</p>
                </label>

            </fieldset>

            {% csrf_token %}
            <button class="index-room-search modal-action">Search</button>

        </form>

        <button class="date-modal-close modal-close">Close</button>
        
    </dialog>


{% endblock %}