{% extends 'base_two.html' %}

{% block content %}

    <div class="title-container">
        <h2 class="form-title">Book Rooms</h2>
    </div>

    {% if request.user.is_authenticated %}

        {% if avail_rooms|length %}
            <div class="form-wrapper booking-info-main">

                <form class="booking-form" method="POST" action="{% url 'confirmbooking' %}">

                    {% csrf_token %}

                    <div class="field-container">
                        <span>First Name: </span> <span class="book-form-info">{{request.user.first_name}}</span>
                    </div>

                    <div class="field-container">
                        <span>Last Name: </span> <span class="book-form-info">{{request.user.last_name}}</span>
                    </div>

                    <div class="field-container">
                        <span>Room Type: </span> <span class="book-form-info">{{category}}</span>
                    </div>

                    <div class="field-container">
                        <span>Check In:</span> <span class="book-form-info">{{check_in|date:"d N y"}}</span>
                        <p class="date-modal-trigger"><small>Change Date</small></p>
                    </div>

                    <div class="field-container">
                        <span>Check Out:</span> <span class="book-form-info">{{check_out|date:"d N y"}}</span>
                        <p class="date-modal-trigger"><small>Change Date</small></p>
                    </div>

                    <div class="field-container">
                        <span>Total Cost: </span> <span class="book-form-info">€{{total_cost}}</span>
                    </div>
                    
                    <div class="room-button-container">
                        <div class="hidden">{{form}}</div>
                        <button class="btn btn-book submit-button">Book</button>
                    </div>
                    
                </form>

                <div class="booking-image">
                    <img src="../static/images/{{category}}.jfif" alt="" class="selected-room">
                    <small>{{avail_rooms|length}} rooms available.</small>
                </div>

            </div>
            
        {% else %}

            {% if category == "" %}
                
            <div class="general-message-container">
                <p>No Room Category Selected.</p>
                <p class="date-modal-trigger">Please select a category here.</p>
            </div>
            {% else %}

            <div class="general-message-container">
                <p>No Rooms Available at Selected Dates.</p>
                <p class="date-modal-trigger">You Can Change Dates Here.</p>
            </div>

            {% endif %}

        {% endif %}


        <dialog class="booking-modal">

            <form class="modal-container" method="GET" action="{% url 'book_search' %}">

                <p>Choose a date and room:</p>

                <fieldset class="dates">

                    <div class="date-field-container date-picker check-in-div">
                        <label for="check-in">Check In Date: </label>
                        <input type="date" id="check-in" name="check_in" data-validation="check-in-validation" required>
                    </div>
        
                    <div class="date-field-container date-picker check-out-div">
                        <label for="check-out">Check Out Date: </label>
                        <input type="date" id="check-out" name="check_out" data-validation="check-out-validation" required>
                        <p class="invalid-text">Please check the check-out date</p>
                    </div>

                </fieldset>

                <fieldset class="test-cat">

                    <label for="single" class="cat-container cat-two">
                        <input type="checkbox" class="radios" data-value="single" id="single" name="SIN">
                        <img src="../static/images/SIN.jfif" alt="single-room">
                        <p>Single Room</p>
                    </label>

                    <label for="double" class="cat-container cat-two">
                        <input type="checkbox" class="radios" data-value="double" id="double" name="DUO">
                        <img src="../static/images/DUO.jfif" alt="double-room">
                        <p>Double Room</p>
                    </label>

                    <label for="triple" class="cat-container cat-two">
                        <input type="checkbox" class="radios" data-value="triple" id="triple" name="TRI">
                        <img src="../static/images/TRI.jfif" alt="triple-room">
                        <p>Triple Room</p>
                    </label>

                    <label for="deluxe" class="cat-container cat-two">
                        <input type="checkbox" class="radios" data-value="deluxe" id="deluxe" name="DLX">
                        <img src="../static/images/DLX.jfif" alt="deluxe-room">
                        <p>Deluxe Room</p>
                    </label>

                    <label for="suite" class="cat-container cat-two">
                        <input type="checkbox" class="radios" data-value="suite" id="suite" name="SUT">
                        <img src="../static/images/SUT.jfif" alt="suite">
                        <p>Suite</p>
                    </label>

                </fieldset>

                <div class="modal-button-container">
                    {% csrf_token %}
                    <button class="index-room-search modal-action">Search</button>
    
                    <button class="date-modal-close modal-close">Close</button>
                </div>
            </form>

            
        </dialog>
    
    {% else %}

        <h2 class="user-veri-message">Please <a href="{% url 'signup' %}">SignUp</a> or <a href="{% url 'login' %}">LogIn</a> to book a room.</h2>
    
    {% endif %}

{% endblock %}