{% extends 'base.html' %}

{% block content %}

    <div class="index-cars-container">

        <picture class="carousel-container">

            <img src="../static/images/ocean-hotel.jfif" alt="" class="caro-pic" data-num="0">
            <img src="../static/images/ocean-reception.jfif" alt="" class="caro-pic" data-num="1">
            <img src="../static/images/ocean-single-bed.jfif" alt="" class="caro-pic" data-num="2">
            <img src="../static/images/ocean-double-bed.jfif" alt="" class="caro-pic" data-num="3">
            <img src="../static/images/ocean-triple-bed.jfif" alt="" class="caro-pic" data-num="4">
            <img src="../static/images/ocean-deluxe-room.jfif" alt="" class="caro-pic" data-num="5">
            <img src="../static/images/ocean-suite.jfif" alt="" class="caro-pic" data-num="6">

        </picture>

        <div class="slider left-slider"><i class="fas fa-angle-left"></i></div>
        <div class=" slider right-slider"><i class="fas fa-angle-right"></i></div>

    </div>

    <section class="intro">
        <p>Welcome to Ocean, where opulence meets the serene beauty of the sea, creating an unparalleled escape.</p>
    </section>

    <section class="services-section">

        <div class="title-container">
            <h2>Our Services</h2>
        </div>

        <div class="services-container">

            <div class="services">
                <span class="icon"><i class="fas fa-wifi"></i></span>
                <p>Free WiFi</p>
            </div>
            <div class="services">
                <span class="icon"><i class="fas fa-parking"></i></span>
                <p>Free Parking</p>
            </div>
            <div class="services">
                <span class="icon"><i class="fas fa-mug-hot"></i></span>
                <p>Breakfast Included</p>
            </div>
            <div class="services">
                <span class="icon"><i class="fas fa-dumbbell"></i></span>
                <p>Gym</p>
            </div>

        </div>

    </section>

    <section class="booking-section">

        <div class="title-container">
            <h2>Book Now!</h2>
        </div>

        <form action="{% url 'book_search' %}" class="index-form" method="GET">

            <fieldset class="dates">

                <div class="field-container">
                    <label for="check-in">Check In Date: </label>
                    <input type="date" id="check-in" name="check_in" required>
                </div>
    
                <div class="field-container">
                    <label for="check-out">Check Out Date: </label>
                    <input type="date" id="check-out" name="check_out" required>
                    <p class="invalid-text">Please check the check-out date</p>
                </div>

            </fieldset>

            <fieldset class="room-cat">

                <label for="single" class="cat-container">
                    <input type="checkbox" class="radios" data-value="single" id="single" name="SIN">
                    <img src="../static/images/ocean-single-bed.jfif" alt="single-room">
                    <p>Single Room</p>
                </label>

                <label for="double" class="cat-container">
                    <input type="checkbox" class="radios" data-value="double" id="double" name="DUO">
                    <img src="../static/images/ocean-double-bed.jfif" alt="double-room">
                    <p>Double Room</p>
                </label>

                <label for="triple" class="cat-container">
                    <input type="checkbox" class="radios" data-value="triple" id="triple" name="TRI">
                    <img src="../static/images/ocean-triple-bed.jfif" alt="triple-room">
                    <p>Triple Room</p>
                </label>

                <label for="deluxe" class="cat-container">
                    <input type="checkbox" class="radios" data-value="deluxe" id="deluxe" name="DLX">
                    <img src="../static/images/ocean-deluxe-room.jfif" alt="deluxe-room">
                    <p>Deluxe Room</p>
                </label>

                <label for="suite" class="cat-container">
                    <input type="checkbox" class="radios" data-value="suite" id="suite" name="SUT">
                    <img src="../static/images/ocean-suite.jfif" alt="suite">
                    <p>Suite</p>
                </label>

            </fieldset>

            {% csrf_token %}
            <button class="index-room-search">Search</button>

        </form>

    </section>

{% endblock %}